*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

html{
    margin-left: 80px;
    margin-right: 80px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

p{
    text-align: justify;
}

header{
    background-color: rgb(20, 2, 37);
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
     background-color: rgba(22, 9, 9,0.5);   
     padding: 25px;
    

}

.logo img{
    width: 160px;
    border-radius: 50%;
}
h1{
    color: rgb(31, 126, 209);
    text-shadow: 1px 5px 5px silver;
    font-size: 40px;
}

h2{
    color: goldenrod !important;
    text-shadow: 1px 5px 5px rgb(14, 12, 12);
    font-weight: bold;
    font-size: 30px !important;
}

nav{
    background-color: aquamarine;
    padding: 10px;
    text-align: center;
}

nav a{
    background-color: blue;
    color: aqua;
    padding: 9px;
    text-align: center;
    text-decoration: none;
}

nav a:hover{
    background-color: rgb(131, 216, 190);
    color: rgb(36, 90, 160);
    padding: 9px;
    text-align: center;
    text-decoration: none;
}
main{
    background-color: rgb(139, 139, 38);
}

footer{
    background-color: blue;
    text-align: center;
    color: blanchedalmond;

}

footer p{
    text-align: center;
}
img{
    width: 100%;
    margin: auto;
}

footer p{
    text-align: center;
}
.imagen{
    width: 50%;
    background-color: rgb(216, 207, 74);
/*     padding-top: 10px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 60px; */
    padding: 30px 40px;
    border: 7px double red;
   /*  margin-top: 10px;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 40px; */
    margin: 40px auto ;
    outline: 7px double blue;
    box-shadow: 9px 9px 9px 9px black;
}

section > p{
    color: brown;
    font-style: italic;
    font-weight: bold;
}

.caja{
    background-color: rgb(58, 214, 37);
    padding: 30px 40px;
    border: 7px dotted red;
    margin: 40px auto ;
    outline: 7px double blue;
    box-shadow: 9px 9px 9px 9px black;
}

.bloque img{
    width: 300px;
    max-width: 30px;
    display: block;
}